.home-container {
  width: 1200px;
  margin: auto;
}

.home-heading {
  margin: 1em;
  padding-bottom: 0.5em;
  color: #e4e6e8;
  font-weight: 300;
  border-bottom: 1px solid #394956;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  position: relative;
  height: 310px;
  width: 200px;
  margin: 1rem;
  background-color: transparent !important;
}

.movie-card:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms ease-out;
}

.movie-image {
  height: 310px;
  width: 200px;
}

.movie-image:hover {
  opacity: 0.9;
  transition: opacity 300ms ease-out;
}

.movie-rating {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 3px;
  width: 20px;
  border-radius: 4px;
  background-color: #31db91;
  color: black;
  top: 10px;
  right: 10px;
  font-weight: bold;
}
