.home-container {
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  padding: 0 2em;
  /* border-bottom: 1px solid #394956; */
}

.home-heading {
  color: #e4e6e8;
  font-weight: 300;
  height: 50px;
}

.MuiFormControl-root {
  background-color: white;
  border: none;
  border-radius: 4px;
}

.MuiInputBase-root {
  border: none;
  padding: 0 1em !important;
  width: 170px;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #31db91 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #31db91 !important;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #31db91 !important;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  position: relative;
  height: 310px;
  width: 200px;
  /* margin: 0.8rem; */
  background-color: transparent !important;
}

.movie-card:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms ease-out;
}

.movie-image {
  height: 310px;
  width: 200px;
}

.movie-image:hover {
  opacity: 0.9;
  transition: opacity 300ms ease-out;
}

.movie-rating {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 33px;
  border-radius: 4px;
  background-color: #31db91;
  color: black;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

.loader {
  color: #31db91 !important;
  margin: auto;
}

.search-part form {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-icon {
  color: #31db91;
  margin-right: 1em;
}

.search-part .MuiSvgIcon-root {
  font-size: 2.5em !important;
}

.search-part .search-input {
  color: #e4e6e8 !important;
  height: 50px;
  width: 100%;
  padding: 0.5em;
  font-size: 1.5em !important;
  border-bottom: 1px solid #384755;
}

.search-part .search-input .MuiInputBase-input {
  color: #e4e6e8 !important;
}
