.now-playing {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.movie-link {
  font-size: 1.2rem !important;
}

.movie-card {
  height: 350px;
  width: 225px;
  margin: 1rem;
  position: relative;
}

.movie-card-inner {
  height: inherit;
}

.movie-card-bottom {
  position: absolute;
  top: 350px;
}

.movie-image {
  height: 350px;
  width: 225px;
  position: absolute;
  top: 0;
}
