.movie-page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-image {
  z-index: -5;
  opacity: 0.35;
  position: absolute;
  height: 115%;
  filter: blur(3px);
}

.movie-info {
  height: 100%;
  width: 65%;
  display: flex;
  padding: 7em;
  justify-content: center;
  flex-direction: column;
  color: #e4e6e8;
}

.extra {
  display: flex;
  align-items: center;
}

.extra p {
  margin: 0 0.5rem;
}

.tmdb-logo {
  background-color: #394956;
  height: 1rem;
  border-radius: 1px;
  margin-right: 0.5rem;
}

.movie-info h1 {
  font-size: 2.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.movie-info p {
  letter-spacing: 1px;
  text-align: justify;
}

.title-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.release-date {
  margin: 0.3rem 0 1.5rem 0;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-button {
  background-color: #394956 !important;
  /* color: #616f7c !important; */
  font-size: 23px !important;
  margin-left: 2rem !important;
}

.action-button:hover,
.action-button:active {
  color: #31db91 !important;
}

.movie-poster {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-poster img {
  height: 350px;
  width: 230px;
}
