.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 175px);
}

.movies-image-part {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.movies-image {
  opacity: 0.2;
  height: 115vh;
  width: 100%;
}

.registration {
  margin: auto;
  position: absolute;
  top: 130px;
  width: 400px;
  display: flex;
  flex-flow: column;
}

.registration input {
  background-color: #e4e6e8;
  border: none;
  border-bottom: 1px solid grey;
  padding: 1.3rem;
  font-size: 1.5rem;
}

.registration input:first-child {
  border-radius: 4px 4px 0px 0px;
}

#sign-up {
  border-radius: 0 0 4px 4px;
  background: #31db91;
  color: white;
  padding: 1.3rem;
  font-size: 1.5rem;
}
