.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.registration {
  margin: 150px auto;
  width: 400px;
  display: flex;
  flex-flow: column;
}

.registration form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration input {
  background-color: #e4e6e8;
  border: none;
  border-bottom: 1px solid grey;
  padding: 1.3rem;
  font-size: 1.5rem;
}

.registration input:first-child {
  border-radius: 4px 4px 0px 0px;
}

#sign-up {
  border-radius: 0 0 4px 4px;
  background: #31db91;
  color: white;
  padding: 1.3rem;
  font-size: 1.5rem;
  /* width: 100%; */
}

.register-button {
  margin: 1rem 0.5rem;
  color: #e4e6e8;
  text-align: end;
}
