.mobile-heading {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  color: #e4e6e8;
  align-items: center;
  height: 140px;
}

.mobile-home-heading {
  margin-bottom: 0.5em;
}

.home-mobile-container .mobile-movie-card {
  height: 435px;
  width: 280px;
}

.home-mobile-container .MuiFormControl-root {
  width: 170px;
}

.home-mobile-container .movie-card {
  height: 380px;
  width: 250px;
}
