.profile-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e4e6e8;
  padding: 2rem;
}

.top-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 4px;
  height: 100px;
  width: 100px;
  margin-right: 2rem;
}

.profile-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.profile-input {
  margin: 3rem !important;
  background: #394956;
}

.edit-button {
  width: 170px;
  height: 56px;
  margin: 3em !important;
  background-color: #31db91 !important;
}

.tabs-paper {
  width: 85%;
}

.user-search {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-search svg {
  font-size: 30px !important;
}

.user-search > .MuiInputBase-root {
  width: 50% !important;
}

.user-search input {
  color: #e4e6e8;
  border-bottom: 1px #31db91 solid;
}

.MuiBox-root {
  display: flex;
  flex-wrap: wrap;
}

.MuiTab-root {
  color: #e4e6e8 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #31db91 !important;
}

.MuiTabs-indicator {
  background-color: #31db91 !important;
}

.MuiFormLabel-root {
  color: #e4e6e8 !important;
}

.MuiFilledInput-input {
  color: #e4e6e8 !important;
}

.MuiFilledInput-underline:after {
  border-bottom: 2px solid #31db91 !important;
}
