.mobile-profile {
  padding: 1.5rem !important;
}

.mobile-profile .top-part {
  flex-direction: column;
  margin-bottom: 2em;
}

.mobile-profile .user-search > .MuiInputBase-root {
  width: 80% !important;
}

.mobile-profile .profile-pic {
  margin: 0;
  margin-bottom: 1em;
}

.mobile-profile .profile-input {
  margin: 0.5em 0.8em !important;
  width: 130px;
}

.mobile-profile .MuiFormLabel-root {
  font-size: 0.85rem;
}

.mobile-profile .MuiFilledInput-root {
  width: 130px;
  font-size: 0.9rem;
}

.mobile-profile .edit-button {
  margin: 1em !important;
  height: 50px;
}

.mobile-profile .MuiBox-root {
  justify-content: space-around;
  padding: 10px;
}

.mobile-profile .movie-card {
  height: 170px;
  width: 107px;
}

.profile-loader {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.profile-loader .loader {
  margin-top: 10em;
}

.mobile-profile .MuiTab-root {
  font-size: 0.7rem;
  padding: 6px 10px;
}
