.search-container {
  height: 125px;
  background-color: #132131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.logo-part {
  width: 10vw;
  margin: 1em;
}

.logo {
  text-align: center;
  color: #e4e6e8;
}

.search-part {
  display: flex;
  align-items: center;
  width: 60%;
}

.search-icon {
  color: #31db91;
  margin-right: 1em;
}

.search-part .MuiSvgIcon-root {
  font-size: 2.5em !important;
}

.search-part .search-input {
  color: #e4e6e8 !important;
  height: 50px;
  width: 100%;
  padding: 0.5em;
  font-size: 1.5em !important;
  border-bottom: 1px solid #384755;
}

.search-part .search-input .MuiInputBase-input {
  color: #e4e6e8 !important;
}

.picture-part {
  position: relative;
  width: 10%;
  height: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
}

.profile-pic:hover {
  cursor: pointer;
}

.popup {
  justify-content: center;
  align-items: center;
  background-color: #e4e6e8;
  position: absolute;
  top: 50px;
  border-radius: 4px;
  margin-top: 50px;
}

.arrow {
  position: absolute;
  top: -3px;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
  background-color: #31db91;
}

.sign-out {
  background-color: #31db91 !important;
}

.log-in {
  width: 120px;
  margin-right: 4em !important;
  background-color: #31db91 !important;
}
